@page "/"
<h1>Home Page</h1>

<div>
    Games:
    <ul>
        <li><a href="/flash_cards">Flash Cards</a></li>
        <li><a href="/speed_challenge">Speed Challenge</a></li>
    </ul>

</div>

@code {

}
